* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.card:hover {
  background-color: #000000;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .content-card .img-card {
  position: relative;
}

.card .content-card .img-card img {
  width: 100%;
  padding: 15px;
  /* transition: all 1s ease-in; */
}

.card .content-card:hover .img-card img {
  /* transform: scale(1.1); */
}

.card .content-card .img-card i {
  display: block;
  position: absolute;
  bottom: 15%;
  right: 15%;
  font-size: 50px;
  color: green;
  /* transition: all 3s ease; */
}

/* .card .content-card:hover .img-card i {
  display: block;
  transform: translateY(0);
} */

.card .content-card .text-card {
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
}

.card .content-card .text-card h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.card .content-card .text-card h3 {
  font-weight: 500;
  font-size: 16px;
}

.card .content-card .text-card span {
  font-weight: 300;
  font-size: 13px;
}

.card:hover .text-card {
  color: white;
}
